/* Created and Modified by luisls1717@gmail.com */
/* UI GRID FIX */
.fs-mini-grid .ui-grid-cell-contents{ 
    padding: 5px;
}
.fs-mini-grid .ui-grid-header-cell .ui-grid-cell-contents{ 
	font-size: 12px; 
}
.fs-mini-grid .ui-grid-header-cell .ui-grid-cell-contents{ 
    text-transform: uppercase;
}
.fs-mini-grid .ui-grid-cell, .ui-grid-row {
    min-height: 28px;
    height: 28px;
}
.fs-mini-grid .ui-grid-column-menu-button {
     top: 0; 
}
.fs-mini-grid.ui-grid{ 
	border: 1px solid rgb(204, 219, 230);
}
.fs-mini-grid.ui-grid .ui-grid-contents-wrapper{ 
	background-color: #e3e7ea;
}
.btn {
	text-transform: uppercase;
}
.fs-mini-grid .ui-grid-pager-panel{ 
	background-color: #f6f8f8;
 	border-top: 1px solid #ccdbe6;
}

.fieldset-sm legend{
	text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}

form.edit-form input, form.edit-form select { 
	background-color: #fcfcbc; 
}

.navbar-brand img { 
    max-height: 80px;
}

.navi-wrap .ambiente select{
	width: 88%;
    margin: auto;
    height: 24px;
    font-size: 10px;
    padding: 4px;
}