/* Helpers Margin */
.m-n {
  margin: 0px   		   !important;
}
.m-xs {
  margin: 4px !important;
}
.m-xs.n {
  margin: -4px !important;
}
.m-sm {
  margin: 8px !important;
}
.m-sm.n {
  margin: -8px !important;
}
.m {
  margin: 12px !important;
}
.m.n {
  margin: -12px !important;
}
.m-md {
  margin: 16px !important;
}
.m-md.n {
  margin: -16px !important;
}
.m-lg {
  margin: 24px !important;
}
.m-lg.n {
  margin: -24px !important;
}
.m-xl {
  margin: 32px !important;
}
.m-xl.n {
  margin: -32px !important;
}
.m-xxl {
  margin: 40px !important;
}
.m-xxl.n {
  margin: -40px !important;
}
.mb-n {
  margin-bottom: 0px!important;
}
.mb-xs {
  margin-bottom: 4px !important;
}
.mb-xs.n {
  margin-bottom: -4px !important;
}
.mb-sm {
  margin-bottom: 8px !important;
}
.mb-sm.n {
  margin-bottom: -8px !important;
}
.mb {
  margin-bottom: 12px !important;
}
.mb.n {
  margin-bottom: -12px !important;
}
.mb-md {
  margin-bottom: 16px !important;
}
.mb-md.n {
  margin-bottom: -16px !important;
}
.mb-lg {
  margin-bottom: 24px !important;
}
.mb-lg.n {
  margin-bottom: -24px !important;
}
.mb-xl {
  margin-bottom: 32px !important;
}
.mb-xl.n {
  margin-bottom: -32px !important;
}
.mb-xxl {
  margin-bottom: 40px !important;
}
.mb-xxl.n {
  margin-bottom: -40px !important;
}
.ml-n {
  margin-left: 0px 			  !important;
}
.ml-xs {
  margin-left: 4px !important;
}
.ml-xs.n {
  margin-left: -4px !important;
}
.ml-sm {
  margin-left: 8px !important;
}
.ml-sm.n {
  margin-left: -8px !important;
}
.ml {
  margin-left: 12px !important;
}
.ml.n {
  margin-left: -12px !important;
}
.ml-md {
  margin-left: 16px !important;
}
.ml-md.n {
  margin-left: -16px !important;
}
.ml-lg {
  margin-left: 24px !important;
}
.ml-lg.n {
  margin-left: -24px !important;
}
.ml-xl {
  margin-left: 32px !important;
}
.ml-xl.n {
  margin-left: -32px !important;
}
.ml-xxl {
  margin-left: 40px !important;
}
.ml-xxl.n {
  margin-left: -40px !important;
}
.mr-n {
  margin-right: 0px 			  !important;
}
.mr-xs {
  margin-right: 4px !important;
}
.mr-xs.n {
  margin-right: -4px !important;
}
.mr-sm {
  margin-right: 8px !important;
}
.mr-sm.n {
  margin-right: -8px !important;
}
.mr {
  margin-right: 12px !important;
}
.mr.n {
  margin-right: -12px !important;
}
.mr-md {
  margin-right: 16px !important;
}
.mr-md.n {
  margin-right: -16px !important;
}
.mr-lg {
  margin-right: 24px !important;
}
.mr-lg.n {
  margin-right: -24px !important;
}
.mr-xl {
  margin-right: 32px !important;
}
.mr-xl.n {
  margin-right: -32px !important;
}
.mr-xxl {
  margin-right: 40px !important;
}
.mr-xxl.n {
  margin-right: -40px !important;
}
.mt-n {
  margin-top: 0px			 !important;
}
.mt-xs {
  margin-top: 4px !important;
}
.mt-xs.n {
  margin-top: -4px !important;
}
.mt-sm {
  margin-top: 8px !important;
}
.mt-sm.n {
  margin-top: -8px !important;
}
.mt {
  margin-top: 12px !important;
}
.mt.n {
  margin-top: -12px !important;
}
.mt-md {
  margin-top: 16px !important;
}
.mt-md.n {
  margin-top: -16px !important;
}
.mt-lg {
  margin-top: 24px !important;
}
.mt-lg.n {
  margin-top: -24px !important;
}
.mt-xl {
  margin-top: 32px !important;
}
.mt-xl.n {
  margin-top: -32px !important;
}
.mt-xxl {
  margin-top: 40px !important;
}
.mt-xxl.n {
  margin-top: -40px !important;
}
/* Paddiing */
.p-n {
  padding: 0px   		 	 !important;
}
.p-xs {
  padding: 4px !important;
}
.p-xs.n {
  padding: -4px !important;
}
.p-sm {
  padding: 8px !important;
}
.p-sm.n {
  padding: -8px !important;
}
.p {
  padding: 12px !important;
}
.p.n {
  padding: -12px !important;
}
.p-md {
  padding: 16px !important;
}
.p-md.n {
  padding: -16px !important;
}
.p-lg {
  padding: 24px !important;
}
.p-lg.n {
  padding: -24px !important;
}
.p-xl {
  padding: 32px !important;
}
.p-xl.n {
  padding: -32px !important;
}
.p-xxl {
  padding: 40px !important;
}
.p-xxl.n {
  padding: -40px !important;
}
.pb-n {
  padding-bottom: 0px   		  	  !important;
}
.pb-xs {
  padding-bottom: 4px !important;
}
.pb-xs.n {
  padding-bottom: -4px !important;
}
.pb-sm {
  padding-bottom: 8px !important;
}
.pb-sm.n {
  padding-bottom: -8px !important;
}
.pb {
  padding-bottom: 12px !important;
}
.pb.n {
  padding-bottom: -12px !important;
}
.pb-md {
  padding-bottom: 16px !important;
}
.pb-md.n {
  padding-bottom: -16px !important;
}
.pb-lg {
  padding-bottom: 24px !important;
}
.pb-lg.n {
  padding-bottom: -24px !important;
}
.pb-xl {
  padding-bottom: 32px !important;
}
.pb-xl.n {
  padding-bottom: -32px !important;
}
.pb-xxl {
  padding-bottom: 40px !important;
}
.pb-xxl.n {
  padding-bottom: -40px !important;
}
.pl-n {
  padding-left: 0px 			!important;
}
.pl-xs {
  padding-left: 4px !important;
}
.pl-xs.n {
  padding-left: -4px !important;
}
.pl-sm {
  padding-left: 8px !important;
}
.pl-sm.n {
  padding-left: -8px !important;
}
.pl {
  padding-left: 12px !important;
}
.pl.n {
  padding-left: -12px !important;
}
.pl-md {
  padding-left: 16px !important;
}
.pl-md.n {
  padding-left: -16px !important;
}
.pl-lg {
  padding-left: 24px !important;
}
.pl-lg.n {
  padding-left: -24px !important;
}
.pl-xl {
  padding-left: 32px !important;
}
.pl-xl.n {
  padding-left: -32px !important;
}
.pl-xxl {
  padding-left: 40px !important;
}
.pl-xxl.n {
  padding-left: -40px !important;
}
.pr-n {
  padding-right: 0px 			 !important;
}
.pr-xs {
  padding-right: 4px !important;
}
.pr-xs.n {
  padding-right: -4px !important;
}
.pr-sm {
  padding-right: 8px !important;
}
.pr-sm.n {
  padding-right: -8px !important;
}
.pr {
  padding-right: 12px !important;
}
.pr.n {
  padding-right: -12px !important;
}
.pr-md {
  padding-right: 16px !important;
}
.pr-md.n {
  padding-right: -16px !important;
}
.pr-lg {
  padding-right: 24px !important;
}
.pr-lg.n {
  padding-right: -24px !important;
}
.pr-xl {
  padding-right: 32px !important;
}
.pr-xl.n {
  padding-right: -32px !important;
}
.pr-xxl {
  padding-right: 40px !important;
}
.pr-xxl.n {
  padding-right: -40px !important;
}
.pt-n {
  padding-top: 0px			   !important;
}
.pt-xs {
  padding-top: 4px !important;
}
.pt-xs.n {
  padding-top: -4px !important;
}
.pt-sm {
  padding-top: 8px !important;
}
.pt-sm.n {
  padding-top: -8px !important;
}
.pt {
  padding-top: 12px !important;
}
.pt.n {
  padding-top: -12px !important;
}
.pt-md {
  padding-top: 16px !important;
}
.pt-md.n {
  padding-top: -16px !important;
}
.pt-lg {
  padding-top: 24px !important;
}
.pt-lg.n {
  padding-top: -24px !important;
}
.pt-xl {
  padding-top: 32px !important;
}
.pt-xl.n {
  padding-top: -32px !important;
}
.pt-xxl {
  padding-top: 40px !important;
}
.pt-xxl.n {
  padding-top: -40px !important;
}

.text-bold{
  font-weight: bold !important;
}
.btn-full{
  width: 100% !important;
}